
    a { color: #8f5e79; font-weight: bold; }
    a:hover { color: #472f3c; font-weight: bold; text-decoration: none; }
    h1 { font-weight: bold; font-family: 'News Cycle', sans-serif; }
    h3 { font-weight: bold; font-family: 'News Cycle', sans-serif; }
    hr { color: #e9e9e9; background-color: #e9e9e9; height: 1px; }
    ul { list-style-type:square; }
    body {margin-top: 50px; font-size: 16px; line-height: 24px; font-family: 'News Cycle', sans-serif;}
    .jumbotron { background-color: #e4d5dd; padding-top: 20px; padding-bottom: 20px; }
    .jumbotron h1 { line-height: 90px; }
    .col-lg-8 { padding-right: 50px;}
    .col-lg-4 {  padding: 10px 20px 20px 20px;}
    .date { font-size: 14px; color: #666; text-transform: uppercase; }
    .col-lg-12 h1 { font-size: 30px; }

    html,
    body {
      height: 100%;
      /* The html and body elements cannot have any padding or margin. */
    }

    /* Wrapper for page content to push down footer */
    #wrap {
      min-height: 100%;
      height: auto;
      /* Negative indent footer by its height */
      margin: 0 auto -60px;
      /* Pad bottom by footer height */
      padding: 0 0 60px;
    }

    /* Set the fixed height of the footer here */
    #footer {
        
      height: 60px;
      background-color: #e4d5dd;
      padding-top: 20px;
      margin-top: 20px;
    }